name: main

on: [push]

jobs:
  build_and_test:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [12.x, 16.x]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: build package
        run: |
          npm i
          npm run build

      - name: test package
        run: |
          npm run test

      - name: build demo
        run: |
          cd ./example
          echo "Running in directory $PWD (before npm)"
          npm i # although the default install script in travis runs this for the root, it doesn't for the example (https://docs.travis-ci.com/user/languages/javascript-with-nodejs/)
          npm run build

      - name: test demo locally
        run: |
          # test the demo locally:
          cd ./example
          echo "Running in directory $PWD (before npm run test)"
          npm run start & # note intentional use of background shell task https://www.maketecheasier.com/run-bash-commands-background-linux/
          sleep 2 # to give start/webpack a generous amount of time to complete initialization
          npm run test-local

  deploy_package:
    needs: build_and_test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js v12.x
        uses: actions/setup-node@v1
        with:
          node-version: v12.x

      - name: build
        run: |
          npm i
          npm run build

      #- name: debug deploy_package
      #  uses: actions/bin/debug@master

      - name: deploy via semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npx semantic-release@17
